.container{
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
}

#calDisplay{
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 10px 8px;
    font-size: 25px;
}

.semuaTombol{
    display: grid;
    border-bottom: 1px solid #111;
    border-left: 1px solid #111;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.semuaTombol > div{
    border-top: 1px solid #111;
    border-right: 1px solid #111;
}

.tombol{
    border: 1px solid #111;
    line-height: 100px;
    text-align: center;
    text-size-adjust: 25px;
    cursor: pointer;
}

#equal{
    background-color:greenyellow;
    color:black;
}

.button:hover{
    background-color:antiquewhite;
    color:white;
    transition: 0.5s ease-in-out;
}